@page "/todo"

<h3>Lista de itens a fazer</h3>

<ul class="list-group">
	@foreach (var item in todos)
	{
		<li class="list-group-item">
			<input @bind="item.Feito" type="checkbox" /> 
			<span style="@FeitoStyle(item.Feito)">@item.Titulo</span>
		</li>
	}	
</ul>

<input @bind="novaTarefa" placeholder="Informe uma tarefa..." />
<button @onclick="AdicionarTarefa" class="btn btn-primary">Adicionar</button>

